html, body {
background-color :rgb(32, 32, 37);
color:rgb(175, 169, 169);
margin: 0 auto;

}
body{
    margin:3rem 5rem;

    
}

button{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border-color: transparent;
    margin: 2rem 1rem;
    background-color: teal;
    color:rgb(175, 169, 169);
}